@import "tailwindcss";

@font-face {
  font-family: "Anaheim";
  src: url("./assets/fonts/Anaheim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anaheim";
  src: url("./assets/fonts/Anaheim-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anaheim";
  src: url("./assets/fonts/Anaheim-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anaheim";
  src: url("./assets/fonts/Anaheim-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anaheim";
  src: url("./assets/fonts/Anaheim-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Faruma";
  src: url("./assets/fonts/Faruma.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
